In [1]:
from wayne_utils import load_data, save_data
from tqdm import tqdm
import os
import re
'''os.chdir( "/home/jiangpeiwen2/jiangpeiwen2/NL2GQL")
from exec_post.nebula_execute import DB_execute'''

tests = load_data( "/home/jiangpeiwen2/jiangpeiwen2/NL2GQL/data/N3/test_data_shuffle.jsonl", "jsonl")
trains = load_data( "/home/jiangpeiwen2/jiangpeiwen2/NL2GQL/data/N3/train_data_shuffle.jsonl", "jsonl")
datasets_schema = load_data( "/home/jiangpeiwen2/jiangpeiwen2/NL2GQL/methods/MyMethod/N3/edge_vertex.json", "json")

test_gql_list = [ tests[i]["content"] for i in range(len(tests))]       # 1254  # ÂéªÈáçÂêé511
train_gql_list = [ trains[i]["content"] for i in range(len(trains))]    # 3862  # 822

disease_gql_list = []           # 221 / 286
nba_gql_list = []               # 597 / 3670
potter_gql_list = []            # 231 / 236
others_gql_list = []            # 252 / 924
for lists in [ tests, trains]:
    for i in range(len(lists)):
        schema = lists[i]['schema']
        if "player(Tag)" in schema:
            nba_gql_list.append( lists[i]["content"] )
        elif "class drug" in schema:
            disease_gql_list.append( lists[i]["content"] )
        elif "class character" in schema:
            potter_gql_list.append( lists[i]["content"] )
        else:
            # raise Exception( f"{i}‰∏çÂêàÊ≥ïÁöÑschema {schema}")
            others_gql_list.append(lists[i]["content"] )

unique_list_disease = list( set( disease_gql_list ) )
unique_list_nba = list( set( nba_gql_list ) )
unique_list_potter = list( set( potter_gql_list ) )
unique_list_other = list( set( others_gql_list ) )

all_gql = []
all_gql.extend( test_gql_list )
all_gql.extend( train_gql_list )    # 5116
unique_list = list(set(all_gql))    # 1300
unique_test_list = list( set(test_gql_list))    # 511
# save_data( unique_test_list, "all_test_unique_list.json")

from type_stat import nGQL_classify
# dict_keys(['INSERT', 'OTHER_WRITE', 'MATCH', 'FETCH PROP ON', 'LOOKUP ON', 'FIND', 'GET SUBGRAPH', 'GO', 'SHOW', 'MIXED', 'QUICK_RETURN', 'OTHER'])
class_dict = nGQL_classify( unique_list )

test_pair = load_data( "/home/jiangpeiwen2/jiangpeiwen2/NL2GQL/methods/MyMethod/N3/intentions/nl_query_pair/test_pair.json", "json")
train_pair = load_data( "/home/jiangpeiwen2/jiangpeiwen2/NL2GQL/methods/MyMethod/N3/intentions/nl_query_pair/train_pair.json", "json")

In [2]:
class_dict_nba = nGQL_classify( unique_list_nba )
class_dict_nba

{'INSERT': ['INSERT VERTEX t2 (name, age) VALUES "11":("n2", 13)',
  'INSERT VERTEX school(name, found_time) VALUES "DUT":("DUT", timestamp("1988-03-01T08:00:00"))',
  'INSERT VERTEX t1(a, b) VALUES "player100":("Hello", 100)',
  'INSERT EDGE follow(degree)\nVALUES "player100"->"player101":(95)',
  'INSERT EDGE e1(p1) VALUES "1"->"2"@0:(10)',
  'INSERT EDGE IF NOT EXISTS like(likeness) VALUES "Tom"->"Conan":(10)',
  'INSERT VERTEX person(p1) VALUES "1":(1)',
  'INSERT VERTEX player(name, age) VALUES "player101":("Tony Parker", 36)',
  'INSERT VERTEX school(name, found_time) VALUES "dut":("dut", now())',
  'INSERT VERTEX person(p1) VALUES "2":(2)',
  'INSERT EDGE like VALUES "Tom"->"Conan":(200)',
  'INSERT VERTEX player(name, age) VALUES "player100":("Tim Duncan", 42)',
  'INSERT VERTEX team(name) VALUES "team203":("Trail Blazers"), "team204":("Spurs")',
  'insert edge serve(start_year,end_year)\nvalues "player100"->"team204"@1:(1998, 2017)',
  'INSERT VERTEX t5(p1, p2, p3) VALUES "001":("Abe", 2, 3)',
  'INSERT EDGE like(likeness) VALUES "Tom"->"Conan":(100)',
  'INSERT VERTEX player(name) VALUES "Kobe":("Kobe")',
  'INSERT EDGE follow(degree) VALUES "player101" -> "player100":(95)',
  'INSERT EDGE follow(degree) VALUES "player101" -> "player102":(90)',
  'INSERT VERTEX t2 (name, age) VALUES "11":("n3", 14)',
  'INSERT EDGE serve(start_year, end_year) VALUES "player101" -> "team204":(1999, 2018),"player102" -> "team203":(2006, 2015)',
  'INSERT VERTEX player(name, age) VALUES "A Loner": ("A Loner", 0);\nDELETE VERTEX "A Loner" WITH EDGE;',
  'INSERT EDGE e1(p1) VALUES "1"->"2"@1:(11)',
  'INSERT VERTEX test1(p1, p2),test2(p3, p4) VALUES "test":("123", 1, "456", 2)',
  'INSERT VERTEX player(name, age) VALUES "Kobe":("Kobe",null)',
  'INSERT VERTEX school(name, found_time) VALUES "dut":("dut", timestamp())',
  'insert edge serve(start_year,end_year)\nvalues "player100"->"team204"@2:(1990, 2018)',
  'INSERT VERTEX any_shape(geo) VALUES "103":(ST_GeogFromText("POLYGON((0 1, 1 2, 2 3, 0 1))"))',
  'INSERT VERTEX player(name,age) VALUES "player111":("David West", 38)',
  'INSERT VERTEX player(name, age) VALUES "player102":("LaMarcus Aldridge", 33)',
  'INSERT EDGE any_shape_edge(geo) VALUES "201"->"302":(ST_GeogFromText("POLYGON((0 1, 1 2, 2 3, 0 1))"))',
  'INSERT EDGE follow(degree) VALUES "player102" -> "player100":(75)'],
 'OTHER_WRITE': ['GO FROM "Boris Diaw" OVER like\nYIELD like._src as src, like._dst as dst, like._rank as rank\n| DELETE EDGE like $-.src->$-.dst @ $-.rank',
  'DELETE TAG test1 FROM "test"',
  'DELETE EDGE follow "player101" -> "team204"',
  'UPSERT VERTEX "player111" SET player.name = "David", player.age = $^.player.age + 11\nWHEN $^.player.name == "David West" AND $^.player.age > 20\nYIELD $^.player.name AS Name, $^.player.age AS Age',
  'UPSERT VERTEX ON player "player668"\nSET name = "Amber", age = age + 1\nYIELD name AS Name, age AS Age',
  'DELETE VERTEX "Grant Hill" WITH EDGE',
  'GO FROM "Boris Diaw" OVER like YIELD like._dst as id | DELETE VERTEX $-.id WITH EDGE',
  '$var = GO FROM "Russell Westbrook" OVER like YIELD like._dst as id; DELETE VERTEX $var.id WITH EDGE',
  'DELETE TAG player FROM "Tim Duncan", "Tony Parker";',
  'UPDATE VERTEX ON player "player101"\nSET age = age + 2\nWHEN name == "Tony Parker"\nYIELD name AS Name, age AS Age',
  'DELETE VERTEX "player111", "team203"',
  'UPSERT EDGE on serve_with_default\n"player668" -> "team200"\nSET end_year = end_year + 1\nYIELD start_year, end_year',
  'UPDATE EDGE ON follow "player101" -> "player100" SET degree = 96',
  'DELETE VERTEX "Tony Parker" WITH EDGE;',
  'UPSERT VERTEX ON player "player666"\nSET age = 31\nWHEN name == "Joe"\nYIELD name AS Name, age AS Age',
  'UPSERT VERTEX ON player "player666"\nSET age = 30\nWHEN name == "Joe"\nYIELD name AS Name, age AS Age',
  'UPSERT EDGE on serve\n"player666" -> "team200"@0\nSET end_year = 2022\nWHEN end_year == 2010\nYIELD start_year, end_year',
  'UPSERT EDGE on serve\n"player668" -> "team200"@0\nSET start_year = 2000, end_year = end_year + 1\nYIELD start_year, end_year',
  'DELETE VERTEX "team1" WITH EDGE',
  'UPSERT EDGE on serve\n"player666" -> "team200"@0\nSET end_year = 2021\nWHEN end_year == 2010\nYIELD start_year, end_year',
  'UPSERT EDGE on serve\n"player149" -> "team219"\nSET end_year = end_year + 1\nWHEN start_year != 2016\nYIELD start_year, end_year',
  'DELETE VERTEX "LeBron James", "Dwyane Wade", "Carmelo Anthony" WITH EDGE;',
  'UPSERT VERTEX ON player "player667"\nSET age = 31\nYIELD name AS Name, age AS Age',
  'UPDATE VERTEX "player100" SET player.name = "Tim"',
  'UPSERT EDGE on serve\n"player667" -> "team200"@0\nSET end_year = 2022\nYIELD start_year, end_year',
  '$var = GO FROM "Tim Duncan" OVER serve YIELD serve._dst as id; DELETE TAG team FROM $var.id',
  'CREATE TAG INDEX ti1 ON t1(col1(5));',
  'GO FROM "Tim Duncan" OVER serve YIELD serve._dst as id | DELETE TAG team FROM $-.id',
  'UPDATE EDGE ON serve "player100" -> "team204"@0\nSET start_year = start_year + 1\nWHEN end_year > 2010\nYIELD start_year, end_year',
  'UPSERT EDGE on serve\n"player149" -> "team219"\nSET end_year = end_year + 1\nWHEN start_year == 2016\nYIELD start_year, end_year',
  'GO FROM "player100" OVER serve WHERE properties(edge).start_year == "2021" YIELD dst(edge) AS id | DELETE VERTEX $-.id'],
 'MATCH': ["MATCH (v1)-[:like]->(v2:player)-[:serve]->(v3)\nWHERE id(v3) == 'Spurs'\nRETURN COUNT(*)",
  "MATCH p = ()-[:like*2]->(v:player) WHERE id(v) == 'Grant Hill' RETURN p",
  'MATCH () --> (v) --> () RETURN count(*)',
  'match (v:player)-[e:like{likeness:-1}]->()  RETURN e',
  'match (src_v:player{name:"Manu Ginobili"})-[e:like*2..3]-(dst_v)\n  return distinct properties(src_v).sex,properties(e[0]).degree as degree,properties(dst_v).name as name,src_v.player.age AS age, e[1].start_year,dst_v.player.age\n  order by degree, name, age limit 5;',
  'MATCH (v:player{name:"Tim Duncan"}) --> (v2)\nRETURN v2.player.name AS Name, v2.player.age AS Age\nORDER BY Age DESC SKIP 1',
  'MATCH (:player{name:"Tracy McGrady"})-[e:like*0{likeness: 90}]-(v)\nRETURN e, v',
  "MATCH (v:player)-[e]-(v2)\nWHERE id(v)=='Marco Belinelli'\nRETURN v2",
  'MATCH (v:player{name:"Tim Duncan"})-->(v2:player)\nRETURN v2.player.name AS Name',
  'MATCH p=(v:player{name:"Tim Duncan"})-[e:follow*2]->(v2)\nWHERE e.degree > 1\nRETURN DISTINCT v2 AS Friends',
  'MATCH p = shortestPath( (a:player{name:"Tim Duncan"})-[e*..5]-(b:player{name:"Tony Parker"}) )  RETURN e, p',
  'MATCH (v:player)\nWITH v.player.name AS n\nRETURN n ORDER BY n LIMIT 3\nUNION ALL\nUNWIND ["Tony Parker", "Ben Simmons"] AS n\nRETURN n',
  'MATCH p=(v:player{name:"Tim Duncan"})-[e:follow*2]->(v2)\nWHERE ALL(e_ in e WHERE e_.degree > 0)\nRETURN DISTINCT v2 AS Friends',
  "MATCH (v1)-[:like]->(v2:player)-[:serve]->(v3)\nWHERE id(v2) == 'Tim Duncan'\nRETURN COUNT(*)",
  'MATCH p=(v:player{name:"Tim Duncan"})-[e:follow|serve*2]->(v2)\nRETURN DISTINCT v2',
  "MATCH (v)-[:serve]->(t)\nWHERE id(t) == 'Pistons'\nRETURN v.player.name AS Name",
  'MATCH (v:player)\nWHERE v.player.name>"Grant Hill" and  v.player.name<="Yao Ming"\nRETURN v',
  'MATCH (v:player{name:"Tony Parker"})--(v2:player)\nRETURN DISTINCT v2.player.name, v2.player.age',
  'match ()-[e]->()\nwhere abs(rank(e)) == 1 and e.start_year == 2016\nRETURN e\nlimit 1000',
  "MATCH (v)\nWHERE id(v) IN ['James Harden', 'Jonathon Simmons', 'Klay Thompson', 'Dejounte Murray', 'Paul Gasol']\n      OR true\nRETURN v.player.name AS Name",
  'match (src_v:player{name:"Manu Ginobili"})-[e*2]-(dst_v)\n  return properties(src_v).sex,properties(e[0]).degree as degree,properties(dst_v).name as name,src_v.player.age AS age, e[1].start_year,dst_v.player.age\n  order by degree, name, age limit 5;',
  'MATCH (v:player) RETURN v.player.age AS Age, v.player.name AS Name\nORDER BY Age DESC, Name ASC',
  'MATCH (:player{name:"Tracy McGrady"})-[e:serve*0..1{start_year: 2000}]-(v)\nRETURN e, v',
  'MATCH (:player{name:"Kyrie Irving"})-[e:like*2..3]->()\nRETURN *',
  'MATCH p=(v:player{name:"Tim Duncan"})-[e:follow*]->(v2)\nRETURN v2 AS Friends',
  "MATCH (v)\nWHERE id(v) IN ['James Harden', 'Jonathon Simmons', 'Klay Thompson', 'Dejounte Murray', 'Paul Gasol']\n      AND (id(v) == 'James Harden' OR v.player.age == 23)\nRETURN v.player.name AS Name",
  'MATCH (v:player{name:"Ben Simmons"})-[e:serve]-(v2)\nRETURN e',
  "MATCH (v1) -[:like]-> (v)\nWHERE id(v1) == 'Dejounte Murray'\nRETURN v.player.name AS Name, v.player.age AS Age\nORDER BY Age DESCENDING, Name ASC\nSKIP 3",
  'match (v:player) where id(v)=="Carmelo Anthony" return properties(v).age;',
  'MATCH (v) RETURN v',
  'MATCH ()-[e]->()\nWITH e, properties(e) as props, keys(properties(e)) as kk\nLIMIT 10000 WHERE [i in kk where props[i] == 90]\nRETURN e',
  'MATCH (v:player {name: "DeAndre Jordan"}) RETURN v',
  'match ()-[e]->()\nwhere abs(rank(e)) == 1 and e.start_year == 2020\nRETURN e\nlimit 1000',
  'match (v:player) where properties(v).name=="LaMarcus Aldridge" return v.player.sex,properties(v).age;',
  'MATCH p=(v:player)-[]->(n)\nWHERE id(v)=="Tim Duncan" and n.player.age>30\nRETURN p LIMIT 100',
  'MATCH (v:player) RETURN v.player.name AS Name, v.player.age AS Age\nORDER BY Name DESC',
  'MATCH (v:player) UNWIND (v)-[:teammate]->() AS p RETURN p',
  'MATCH (:player{name:"Tim Duncan"})-[e:serve|like*2..3{start_year: 2000}]-(v)\nRETURN e, v',
  'MATCH (n)<-[e:like*2..3{likeness: 90}]-(v)\nWHERE id(n) == "Tim Duncan"\nRETURN e, v',
  'MATCH (v:player{name: "abc"}) -[:serve*1..3]-> ()\nRETURN *',
  'MATCH (p1)-[:teammate]->(p2)\nRETURN p1.player.name, p2.player.name',
  'MATCH (v:player{name:"Tim Duncan"})-[e:follow|:serve]->(v2)\nRETURN e',
  'MATCH (:player{name:"Tim Duncan"})<-[e:serve|like*2..3{likeness: 90}]-(v)\nRETURN e, v',
  'MATCH (:player{name:"Tracy McGrady"})-[e:like*0..1{likeness: 90}]->(v)\nRETURN e, v',
  'match (player)-[s:serve]->(team) where s.start_year == 2001 return player.player.name AS player, team.team.name AS team',
  'MATCH (a:player)-[b:serve]-(c:team{name: "Lakers"})\nWHERE a.player.age > 45\nRETURN  concat(a.player.name, "hello")',
  'MATCH p=(v)-[e*1]->(v2) WHERE id(v) IN ["Tom"] RETURN p',
  'MATCH (v:player{name:"Tim Duncan"})-[e]->(t)\nWHERE (v)-[e]->(t:team)\nRETURN (v)-->()',
  'match (src_v:player{name:"Manu Ginobili"})-[e]-(dst_v)\n  return properties(src_v).age,properties(e).degree,properties(dst_v).name AS name,src_v.player.sex,e.start_year,dst_v.player.age\n  order by name limit 3;',
  'MATCH ()-[e:follow]->()\nRETURN e\nlimit 3',
  'MATCH (v:player{name:"Tim Duncan"})--(v2)\nRETURN\nCASE WHEN v2.team.name IS NOT NULL\nTHEN v2.team.name\nWHEN v2.player.name IS NOT NULL\nTHEN v2.player.name END AS Name',
  'MATCH (:player{name: "Tim Duncan"})-[e:like*2..3]->(v)\nRETURN e, v',
  'MATCH (v)\nRETURN v.person.name LIMIT 3',
  'MATCH (v:player)-[e:like]->(v2) WHERE none_direct_src(e) IN ["Tony Parker", "Tim Duncan"] RETURN *\nMINUS\nMATCH (v:player)-[e:like]->(v2) WHERE id(v) IN ["Tony Parker", "Tim Duncan"] RETURN *',
  'MATCH (v:player{name:"Tim Duncan"}) --> (v2)\nRETURN v2.player.name AS Name, v2.player.age AS Age\nORDER BY Age',
  'MATCH (v:player{name:"Tony Parker"})\nWITH v AS a\nMATCH p=(o:player{name:"Tim Duncan"})-[]->(a)\nRETURN o.player.name',
  'MATCH (v:player)\nWHERE v.player.name STARTS WITH "t"\nRETURN v.player.name, v.player.age',
  'MATCH (v)-[e:follow]->()\nWHERE rank(e)==0\nRETURN *',
  'MATCH (:player{name:"Tim Duncan"})-[e:like*2..3]->()\nRETURN *',
  'MATCH p = (n)-[:like]-(m)\nWHERE id(n) == "LeBron James"\nRETURN p, n.player.name, m.player.name',
  "MATCH p = shortestPath( (a)-[e:like*..4]->(b) )\n  WHERE id(b) IN ['Manu Ginobili', 'Spurs', 'Lakers'] and id(a) in ['xxx', 'zzz']\n  RETURN p",
  'MATCH (v:player) RETURN max(v.player.age)',
  'MATCH (v:player{name:"Tim Duncan"})-->()<--(v3)\nRETURN v3.player.name AS Name',
  'MATCH p=(v:player{name:"Tim Duncan"})-[e:follow*2]->(v2)\nWHERE e[0].degree > 98\nRETURN DISTINCT v2 AS Friends',
  'MATCH p=(v:player{name:"Tim Duncan"})-->(v2) return length(p)',
  'MATCH (:player{name: "Tim Duncan"})-[e:like*2..3]-(v)\nRETURN COUNT(1)',
  'MATCH (v:player)\nWHERE v.player.age IN range(20,25)\nRETURN v.player.name, v.player.age',
  'MATCH (:player{name:"Tracy McGrady"})-[e:serve|like{start_year: 2000}]->(v)\nRETURN e, v',
  'match (v:player{name:"LaMarcus Aldridge"}) return properties(v).age;',
  'match (v:player) where id(v)=="Carmelo Anthony" return properties(v).age,v.player.sex;',
  'MATCH (v:player{name:"Tim Duncan"}) --> (v2)\nRETURN v2.player.name AS Name, v2.player.age AS Age\nORDER BY Age DESC SKIP 1 LIMIT 1',
  'UNWIND ["Tony Parker", "Tim Duncan", "Yao Ming"] AS a MATCH (v:player) WHERE v.player.name == a RETURN distinct a, v',
  'MATCH (v)\nWHERE id(v)=="player100"\nWITH labels(v) AS tags_unf\nUNWIND tags_unf AS tags_f\nRETURN tags_f',
  'MATCH p=(v:player{name:"Tim Duncan"})-[e:follow*1..3]->(v2:player)\nRETURN DISTINCT v2 AS Friends, count(v2)',
  'MATCH (v:player{name:"Tony Parker"}) RETURN v',
  "MATCH (v1) -[:like]-> (v)\nWHERE id(v1) == 'Dejounte Murray'\nRETURN v.player.name AS Name, v.player.age AS Age\nORDER BY Age DESC, Name ASC\nSKIP 3\nLIMIT 3",
  'MATCH (v1) -[:like]-> (v2)\nWHERE id(v1) == "Danny Green"\nRETURN v1.player.name AS Name, v2.player.name AS Friend',
  'MATCH (v:player)\nWHERE v.player.name == "Tim Duncan"\nXOR (v.player.age < 30 AND v.player.name == "Yao Ming")\nOR NOT (v.player.name == "Yao Ming" OR v.player.name == "Tim Duncan")\nRETURN v.player.name, v.player.age',
  'MATCH (:player{name:"Tracy McGrady"})-[e:serve|like*0..1]-(v)\nRETURN e, v',
  "MATCH (v:player{name: 'Tim Duncan'})-[e:like{likeness: 95}]->() return v.player.name AS name",
  'MATCH (:player{name:"Tracy McGrady"})-[e:serve|like*0..1{likeness: 90}]->(v)\nRETURN e, v',
  'match ()-[e]->()\nwhere rank(e) == 0\nRETURN rank(e)\nlimit 3',
  'MATCH (v:player{name:"Tim Duncan"})-[e]->(t) WHERE (v)-[e]->(t:team) RETURN (v)-->()',
  'MATCH (n)-[e:serve*2..3]->(v)\nWHERE id(n) == "Tim Duncan"\nRETURN e, v',
  "MATCH (v:player{name: 'Tim Duncan'})-[e]->() RETURN type(e), count(*)",
  "MATCH (v)-[:serve]->(t)\nWHERE (NOT NOT id(v) == 'Paul Gasol') AND id(v) == 'Paul Gasol' AND id(t) IN ['Grizzlies', 'Lakers']\nRETURN v.player.name AS Name, t.team.name AS Team",
  'MATCH (a:player)-[b:serve]-(c:team{name: "Lakers"})\nWHERE a.player.age > 45\nRETURN concat_ws("@",a.player.name, NULL, "hello", b.likeness, c.team.name) as result',
  "MATCH (v) WHERE id(v) == 'Boris Diaw' RETURN (v)",
  'match (v:player{name:"LaMarcus Aldridge"}) return v.player.age;',
  'match (v1)-->(v2:player)-->(v3) where v2.player.name=="Shaquille O\'Neal"\n  return properties(v1).name,properties(v2).age as age,properties(v3).name AS name\n  order by name limit 1;',
  'MATCH (v:player {name: "Rudy Gay"})-[:serve*0..1]->(n) RETURN n.player.name',
  'MATCH (v:player{name:"Giannis Antetokounmpo"}) RETURN v.name AS vname',
  'MATCH (v)-[e:serve]->()\nWHERE id(v)=="player100"\nRETURN labels(v)',
  "MATCH p = shortestPath( (a:player)-[e:serve*..3]-(b:team) )\n  WHERE a.player.age > 45 AND b.team.name == 'Spurs'\n  RETURN length(p)",
  'MATCH p=(v:player{name:"Tim Duncan"})-[e:follow*2]->(v2)\nRETURN DISTINCT v2 AS Friends',
  'MATCH (v:player{name:"Tony Parker"})--(v2:player)\nRETURN v2.player.name, v2.player.age',
  'MATCH (v:player)\nWITH v.player.name AS Name\nORDER BY Name DESC\nLIMIT 3\nRETURN collect(Name)',
  "MATCH p = allShortestPaths( (a:player)-[e:serve*..3]-(b:team) )\n  WHERE a.player.name == 'Tim Duncan' AND b.team.name == 'Spurs'\n  RETURN p",
  'MATCH (n)-[e:like*2..3]->(v)\nWHERE id(n) == "Tim Duncan"\nRETURN e, v',
  'MATCH(n:player)\n  RETURN id(n) AS id,\n         count(n) AS count,\n         sum(floor(n.player.age)) AS sum,\n         max(n.player.age) AS max,\n         min(n.player.age) AS min,\n         avg(distinct n.player.age)+1 AS age,\n         labels(n) AS lb\n    ORDER BY id, count, max, min\n    SKIP 10 LIMIT 8;',
  'MATCH (:player{name:"Tracy McGrady"})-[e:serve|like*0..1]->(v)\nRETURN e, v',
  "MATCH (v1) -[:like]-> (v)\nWHERE id(v1) == 'Dejounte Murray'\nRETURN v.player.name AS Name, v.player.age AS Age\nORDER BY Age DESC, Name ASC\nLIMIT 3",
  'match (src_v)-[e:like|serve]->(dst_v)-[e2]-(dst_v2) where  id(src_v)=="Rajon Rondo" return properties(e).degree1,properties(e).degree1,e2.a,dst_v.p.name,dst_v.player.sex1,properties(src_v).name2 limit 5;',
  'MATCH (v:player {name: "Yao Ming"})-[:serve*1..3]->() RETURN v.player.name',
  'MATCH (v:player{name: "abc"}) -[:serve*..3]-> ()\nRETURN *',
  'match (v0:player)-[e0]->(v1) where id(v0) == "Tim Duncan" unwind e0.start_year as a return avg(a)',
  'MATCH (v:player)\nWHERE NOT v.player.name ENDS WITH "R"\nRETURN v.player.name, v.player.age',
  "MATCH (p:player {name: 'Yao Ming'} ), (t:team {name: 'Rockets'}), pth = (p)-[:serve*1..4]-(t)\nRETURN pth",
  'MATCH (v:player)-[e]->()\nWHERE e.start_year < 2000\nRETURN DISTINCT v.player.name, v.player.age',
  'MATCH p = shortestPath( (a:player{age:30})-[e*..5]->(b:team) )\n  WHERE length(p) == 1\n  RETURN p',
  'MATCH p = (n)-[:like]->(m)\nWHERE id(n) == "LeBron James"\nRETURN p, n.player.name, m.player.name',
  'MATCH (:player{name:"Kyrie Irving"})-[e:serve|like*2..3]-(v)\nRETURN count(v)',
  "MATCH (v1) -[:like]-> (v)\nWHERE id(v1) == 'Dejounte Murray'\nRETURN v.player.name AS Name, v.player.age AS Age\nORDER BY Age DESC, Name ASC\nLIMIT 0",
  'MATCH () -[]-> (v) RETURN *',
  'MATCH (v:player{name:"Tim Duncan"})-[e:follow{degree:95}]->(v2)\nRETURN e',
  'MATCH (:player{name:"Tracy McGrady"})-[e:like{likeness: 90}]->(v)\nRETURN e, v',
  'MATCH (v1) -[r:serve]-> (v2)\nWHERE id(v1) == "LeBron James"\nRETURN type(r) AS Type, v2.team.name AS Name',
  'MATCH (n)-[e:serve|like*2..3{likeness: 90}]->(v)\nWHERE id(n) == "Tim Duncan"\nRETURN e, v',
  'MATCH p = shortestPath( (a:player{name:"Tiago Splitter"})-[e*..5]->(b:player{name:"LaMarcus Aldridge"}) )\n  WHERE length(p) > 2\n  RETURN  p',
  "MATCH (v)\nWHERE id(v) != 'Paul Gasol'\nRETURN v.player.name AS Name",
  'MATCH (n)-[e:like*2..3{likeness: 90}]->(v)\nWHERE id(n) == "Tim Duncan"\nRETURN e, v',
  'MATCH (v:player)-[e:follow]->(v2)\nWHERE id(v) == "player102"\nRETURN id(v2) As id, e.degree As Degree, v2.player.age AS Age\nINTERSECT\nMATCH (v:player)-[e:follow]->(v2)\nWHERE id(v) == "player100"\nRETURN id(v2) As id, e.degree As Degree, v2.player.age AS Age',
  'MATCH (v:player{name:"Tim Duncan"}) -[e]- (v2)\nRETURN count(e)',
  'MATCH p = (n)<-[:like]-(m)\nWHERE id(n) == "LeBron James"\nRETURN p, n.player.name, m.player.name',
  'MATCH (v:player)-[:like]->(t) WHERE v.player.name=="Tim Duncan" RETURN v.player.name, t.errortag.name, properties(v), t',
  'MATCH (v1:player{name: "LeBron James"}) -[r]-> (v2)\nRETURN type(r) AS Type, CASE WHEN v2.tea.name IS NOT NULL THEN v2.tea.name WHEN v2.playe.name IS NOT NULL THEN v2.playe.name ELSE "abc" END AS Name',
  'MATCH p = (v:player{name: "Cory Joseph"})-[e:like]-(v2)\nRETURN p',
  'MATCH (v:player{name: "Damian Lillard"})-[:like]-(v2)--(v3)\nWITH v3, v3.player.age AS age\nRETURN v3, age ORDER BY age LIMIT 3',
  'MATCH (v:player)-->(v2:player)\nWITH DISTINCT v2 AS v2, v2.player.age AS Age\nORDER BY Age\nWHERE Age<25\nRETURN v2.player.name AS Name, Age',
  'MATCH (v:team{name:"Spurs"})--(v2)\nRETURN v2 AS Player',
  'MATCH (v:player) RETURN std(v.player.age)',
  'MATCH p= (v:player) -- (v2) WHERE id(v)=="A" RETURN p',
  'MATCH (:player{name:"Tracy McGrady"})-[e:like*0..1{likeness: 90}]-(v)\nRETURN e, v',
  'MATCH (v:player) WHERE v.player.score < 20 RETURN v.player.name AS name',
  'MATCH (v:player)\nWHERE exists(v.player.age)\nRETURN v.player.name, v.player.age',
  "MATCH (v:player{name: 'Rudy Gay'})-[e]->() RETURN type(e), count(*)",
  'MATCH (n)-[e:like*2..3]-(v)\nWHERE id(n) == "Tim Duncan"\nRETURN e, v',
  'MATCH (v:player) RETURN min(v.player.age)',
  "MATCH (v1) -[:like]-> () -[:like]-> (v3)\nWHERE id(v1) == 'Dwyane Wade'\nRETURN v3.player.name AS Name",

In [3]:
class_dict_nba.keys()

dict_keys(['INSERT', 'OTHER_WRITE', 'MATCH', 'FETCH PROP ON', 'LOOKUP ON', 'FIND', 'GET SUBGRAPH', 'GO', 'SHOW', 'MIXED', 'QUICK_RETURN', 'OTHER'])

In [11]:
def get_nl_from_gql( gql ):
    for i in range(len(test_pair)):
        if gql == test_pair[i]["Êü•ËØ¢"]:
            return test_pair[i]["Áî®Êà∑"]
    for i in range(len(train_pair)):
        if gql == train_pair[i]["Êü•ËØ¢"]:
            return train_pair[i]["Áî®Êà∑"]
    return "Ê≤°ÊâæÂà∞"

## ÊäΩÂèñÊÑèÂõæ

In [12]:
os.chdir( "/home/jiangpeiwen2/jiangpeiwen2/NL2GQL/methods/MyMethod/N3/intentions")
from query_parser_Cypher import parse_match_query
from type_stat import nGQL_classify, get_intention
from query_parser_nGQL import (
    split_ngql, parser_yield, parser_where, parse_lookup_query, 
    parse_fetch_query, parse_find_query, parse_subgraph_query, parse_write_query,
    parse_go_query, parse_mixed_to_standard
)

from query_parser_standard import (
    get_standard_list, parse_fetch_to_standard, parse_look_to_standard, parse_find_to_standard,
    parse_subgraph_to_standard, parse_go_to_standard, parse_wirte_other_to_standard
)

def count_parsed_number( parsed_dict ):
    count = 0
    for key in parsed_dict:
        count += len(parsed_dict[key])
    return count

# dict_keys(['INSERT', 'OTHER_WRITE', 'MATCH', 'FETCH PROP ON', 'LOOKUP ON',
#  'FIND', 'GET SUBGRAPH', 'GO', 'SHOW', 'MIXED', 'QUICK_RETURN', 'OTHER'])

from query_parser_standard import parse_intention
parsed_dict, query_dict = parse_intention(class_dict_nba )
count_parsed_number( parsed_dict )

597

## ÂΩ¢ÊàêÊÑèÂõæÂ≠óÂÖ∏

In [13]:
path = "/home/jiangpeiwen2/jiangpeiwen2/NL2GQL/methods/MyMethod/N3/intentions/intention_extract"

all_dict = {}
for part_ in ["disease", "nba", "potter", "other"]:
    sub_dir = os.path.join( path, part_)
    files = os.listdir(sub_dir)
    for file in files:
        if "intention_list.json" in file:
            try:
                intention_list = load_data( os.path.join(sub_dir,  file), "json")
            except:
                raise Exception( f"Âä†ËΩΩÂ§±Ë¥•{os.path.join(sub_dir,  file)}")
            query_list = load_data( os.path.join(sub_dir,  file).replace("intention_list", "query_list"), "json")
            if len( intention_list) != len(query_list):
                raise Exception( f"ÈïøÂ∫¶‰∏ç‰∏ÄËá¥{os.path.join(sub_dir,  file)} {len( intention_list), len(query_list)}")
            for i in range(len(query_list)):
                query = query_list[i]
                '''if query in all_dict:
                    raise Exception( f"Â∑≤Â≠òÂú®ÈîÆ{os.path.join(sub_dir,  file)} {query}")'''
                all_dict[query] = intention_list[i]

In [15]:
for lists, part in zip( [tests, trains], ["test", "train"]):
    ret_list = []
    save_path = f"/home/jiangpeiwen2/jiangpeiwen2/NL2GQL/methods/MyMethod/N3/intentions/intention_extract/intentions_label_{part}.json"
    for i in range(len(lists)):
        query = lists[i]['content']
        if query not in all_dict:
            raise Exception( f"‰∏çÂ≠òÂú®ÈîÆ{part} {query}")
        ret_list.append( all_dict[query])
    print(len(ret_list))
    save_data( ret_list, save_path)

1254
3862